USE [DM_Reservas]
GO
/****** Object:  Table [dbo].[DimOrigem]    Script Date: 25/06/2020 20:37:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimOrigem](
	[IDORIGEM] [int] IDENTITY(1,1) NOT NULL,
	[DESCRICAO] [varchar](300) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDORIGEM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DimOrigem] ON 

INSERT [dbo].[DimOrigem] ([IDORIGEM], [DESCRICAO]) VALUES (1, N'WALKIN')
INSERT [dbo].[DimOrigem] ([IDORIGEM], [DESCRICAO]) VALUES (2, N'PARTICULAR')
INSERT [dbo].[DimOrigem] ([IDORIGEM], [DESCRICAO]) VALUES (3, N'EVENTOS')
SET IDENTITY_INSERT [dbo].[DimOrigem] OFF
