USE [DM_Reservas]
GO
/****** Object:  Table [dbo].[DimStatusReservas]    Script Date: 25/06/2020 20:37:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimStatusReservas](
	[IDSTATUSRESERVA] [int] IDENTITY(1,1) NOT NULL,
	[STATUSRESERVAS] [varchar](300) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDSTATUSRESERVA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DimStatusReservas] ON 

INSERT [dbo].[DimStatusReservas] ([IDSTATUSRESERVA], [STATUSRESERVAS]) VALUES (1, N'A CONFIRMADA')
INSERT [dbo].[DimStatusReservas] ([IDSTATUSRESERVA], [STATUSRESERVAS]) VALUES (2, N'CONFIRMADA')
INSERT [dbo].[DimStatusReservas] ([IDSTATUSRESERVA], [STATUSRESERVAS]) VALUES (3, N'WAIT LIST')
SET IDENTITY_INSERT [dbo].[DimStatusReservas] OFF
