USE [DM_Reservas]
GO
/****** Object:  Table [dbo].[DimTipoUH]    Script Date: 25/06/2020 20:37:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimTipoUH](
	[IDTIPOUH] [int] IDENTITY(1,1) NOT NULL,
	[DESCRICAO] [varchar](300) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDTIPOUH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DimTipoUH] ON 

INSERT [dbo].[DimTipoUH] ([IDTIPOUH], [DESCRICAO]) VALUES (1, N'STANDART')
INSERT [dbo].[DimTipoUH] ([IDTIPOUH], [DESCRICAO]) VALUES (2, N'LUXO')
INSERT [dbo].[DimTipoUH] ([IDTIPOUH], [DESCRICAO]) VALUES (3, N'LUXO SUPERIOR')
SET IDENTITY_INSERT [dbo].[DimTipoUH] OFF
