USE [DM_Reservas]
GO
/****** Object:  Table [dbo].[ftReservas]    Script Date: 19/07/2020 10:33:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ftReservas](
	[IDRESERVA] [int] IDENTITY(1,1) NOT NULL,
	[IDHOTEL] [int] NULL,
	[IDORIGEM] [int] NULL,
	[IDSTATUSRESERVA] [int] NULL,
	[IDTIPOUH] [int] NULL,
	[IDHOSPEDE] [int] NULL,
	[VLRDIARIA] [float] NULL,
	[DTRESERVA] [date] NULL,
	[RSVCONFIRMADA] [char](1) NULL,
	[DTDATACHEGADA] [date] NULL,
	[DTPARTIDA] [date] NULL,
	[LOCRESERVA] [varchar](30) NULL,
	[QTDADULTOS] [int] NULL,
	[QTDCHD1] [int] NULL,
	[QTDCHD2] [int] NULL,
	[OBSRESERVA] [varchar](300) NULL,
	[DEADLINE] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDRESERVA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ftReservas] ON 

INSERT [dbo].[ftReservas] ([IDRESERVA], [IDHOTEL], [IDORIGEM], [IDSTATUSRESERVA], [IDTIPOUH], [IDHOSPEDE], [VLRDIARIA], [DTRESERVA], [RSVCONFIRMADA], [DTDATACHEGADA], [DTPARTIDA], [LOCRESERVA], [QTDADULTOS], [QTDCHD1], [QTDCHD2], [OBSRESERVA], [DEADLINE]) VALUES (60, 1, 2, 3, 2, 3, 155, CAST(N'2020-01-01' AS Date), N'N', CAST(N'2021-01-07' AS Date), CAST(N'2021-01-15' AS Date), N'759361', 3, 0, 0, N'com cafe da manha', CAST(N'2020-01-08' AS Date))
INSERT [dbo].[ftReservas] ([IDRESERVA], [IDHOTEL], [IDORIGEM], [IDSTATUSRESERVA], [IDTIPOUH], [IDHOSPEDE], [VLRDIARIA], [DTRESERVA], [RSVCONFIRMADA], [DTDATACHEGADA], [DTPARTIDA], [LOCRESERVA], [QTDADULTOS], [QTDCHD1], [QTDCHD2], [OBSRESERVA], [DEADLINE]) VALUES (61, 1, 2, 3, 3, 2, 39, CAST(N'2020-01-01' AS Date), N'S', CAST(N'2021-01-07' AS Date), CAST(N'2021-01-15' AS Date), N'649004', 1, 0, 2, N'com cafe da manha', CAST(N'2020-01-08' AS Date))
INSERT [dbo].[ftReservas] ([IDRESERVA], [IDHOTEL], [IDORIGEM], [IDSTATUSRESERVA], [IDTIPOUH], [IDHOSPEDE], [VLRDIARIA], [DTRESERVA], [RSVCONFIRMADA], [DTDATACHEGADA], [DTPARTIDA], [LOCRESERVA], [QTDADULTOS], [QTDCHD1], [QTDCHD2], [OBSRESERVA], [DEADLINE]) VALUES (62, 1, 2, 3, 3, 3, 73, CAST(N'2020-01-01' AS Date), N'S', CAST(N'2021-01-07' AS Date), CAST(N'2021-01-15' AS Date), N'52393', 1, 0, 2, N'com cafe da manha', CAST(N'2020-01-08' AS Date))
GO
SET IDENTITY_INSERT [dbo].[ftReservas] OFF
ALTER TABLE [dbo].[ftReservas]  WITH CHECK ADD  CONSTRAINT [IDHOSPEDE] FOREIGN KEY([IDHOSPEDE])
REFERENCES [dbo].[ftHospede] ([IDHOSPEDE])
GO
ALTER TABLE [dbo].[ftReservas] CHECK CONSTRAINT [IDHOSPEDE]
GO
ALTER TABLE [dbo].[ftReservas]  WITH CHECK ADD  CONSTRAINT [Idhoteis] FOREIGN KEY([IDHOTEL])
REFERENCES [dbo].[DimHoteis] ([IDHOTEL])
GO
ALTER TABLE [dbo].[ftReservas] CHECK CONSTRAINT [Idhoteis]
GO
ALTER TABLE [dbo].[ftReservas]  WITH CHECK ADD  CONSTRAINT [IDORIGEM] FOREIGN KEY([IDORIGEM])
REFERENCES [dbo].[DimOrigem] ([IDORIGEM])
GO
ALTER TABLE [dbo].[ftReservas] CHECK CONSTRAINT [IDORIGEM]
GO
ALTER TABLE [dbo].[ftReservas]  WITH CHECK ADD  CONSTRAINT [IDSTATUSRESERVA] FOREIGN KEY([IDSTATUSRESERVA])
REFERENCES [dbo].[DimStatusReservas] ([IDSTATUSRESERVA])
GO
ALTER TABLE [dbo].[ftReservas] CHECK CONSTRAINT [IDSTATUSRESERVA]
GO
ALTER TABLE [dbo].[ftReservas]  WITH CHECK ADD  CONSTRAINT [IDTIPOUH] FOREIGN KEY([IDTIPOUH])
REFERENCES [dbo].[DimTipoUH] ([IDTIPOUH])
GO
ALTER TABLE [dbo].[ftReservas] CHECK CONSTRAINT [IDTIPOUH]
GO
